/* Container */
.container {
  max-width: map-get($breakpoints-up, xlarge);
  margin: 0 auto;
}

.hide-for-mobile {
  @include apply-down(large) {
    display: none;
  }
}

.hide-for-desktop {
  @include apply-up(small) {
    display: none;
  }
}
